body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: aquamarine;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: aquamarine;
    color: aliceblue;
}
header h1 {
    font-size: 48px;
    margin: 0;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}
nav {
    flex-basis: 70%;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
